@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap');

* {
    margin: 0;
    box-sizing: boder-box;
}

body {
    font-family: 'Asap', sans-serif;
}

header {
    padding: 20px;
    background: #CB90DC;
    color: #fff;
}

#general {
    display: flex;
    height: 100vh;
    padding: 15px;
}

#inicioSesion {
    width: 30%;
    height: 300px
    padding: 15px;
}

#registrarse {
    width: 70%;
    height: 500px;
    background-color: #F6EFF8;
    padding: 15px;
}

.iniciosecButton{
    display: inline-flex;
    aling-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background: #CB90DC;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.regisButton{
    display: inline-flex;
    aling-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: #CB90DC;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container label{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: #3B4754;
}

#inicioSesion input{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: #C9D3DD;
}

#tituloInicioSesion {
    margin-bottom: 15px;
}

#tituloRegistrarse {
    margin-bottom: 15px;
}


#inicioSesionButton {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border: 2px solid;
    border-radius: 5px;
    background:#C9D3DD;
    border-color: #C9D3DD;
    cursor: pointer;

}

#formInicioSesion {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#formRegistro {
    display: flex;
    flex-direction: column;
    width: 80%;
}
