@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&display=swap');

* {
    margin: 0;
    box-sizing: boder-box;
}

body {
    font-family: 'Asap', sans-serif;
}

header {
    padding: 20px;
    background: #934261;
    color: #fff;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#derecha {
     float: right;
     font-size: 20px;
     margin: -35px 50px;
}

#derecha a {
     color: #fff;
     text-decoration: none;
}

#derecha a:hover {
     top: 0;
     width: 50;
     background: #F16B9C;
}

.menu {
    width: 20%;
    height: 500px;
    background-color: #F6EFF8;
    padding: 50px;
    text-decoration: none;
}

#general {
    display: flex;
    height: 100vh;
    padding: 50px;
}

.container {
    width: 100%;
    height: 300px;
    padding: 50px;
}

.registrButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: #CB90DC;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
}

#nombreVete {
    margin-bottom: 15px;
}

#tituloRegistrarVet {
    margin-bottom: 15px;
}

#der{
    width:50%
}

#izq {
    width:50%
}

#der >input{
    display: block;
    width: 200%;
}

#izq >input{
    display: block;
    width: 200%;
}

.container input{
    width: 80%;
    height: 1000%;
    padding: 6px 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-left: 0.5rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: #C9D3DD;
    font-family: 'Asap', sans-serif;
}

h3 {
    padding: 15px;
}

#derecha a {
     color: #fff;
     text-decoration: none;
}

#dropdown {
    width: 205%;
    padding: 15px 20px;
    margin-bottom: none;
    background: rgba(246, 239, 248, 0,7);
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Asap', sans-serif;
    font: 400 22px;
}

#dropdown_veterinarias {
    width: 205%;
    padding: 15px 20px;
    margin-bottom: none;
    background: rgba(246, 239, 248, 0,7);
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Asap', sans-serif;
    margin-top: 10px;
}

#registrButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20%;
    background: #934261;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
    margin-top: 10px;
    margin-left: 250px;
}

.registrarVete{
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    width: 135%;
    height: 80%;
    background: #934261;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
    padding: 50px;
    margin-top: 50px;
}

.vervetes{
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    width: 135%;
    height: 80%;
    background: #EFD6DF;
    color: #737074;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
    padding: 50px;
    margin-top: 50px;
}

.vermasc{
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    width: 135%;
    height: 80%;
    background: #EFD6DF;
    color: #737074;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
    padding: 50px;
    margin-top: 50px;
}
