<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO PETS</title>
  </head>
  <body>
    {% if  uname == 'no' and  psw == 'no' %}
      <h1>Usted no esta registrado en la pagina, por favor vuelva al inicio para crear un perfil</h1>
      <a href="{% url 'general:inicio' %}">volver a la pagina de inicio</a>
    {% endif %}

    {% if  uname != 'no' and  psw != 'no'%}
      <h1>BIENVENID@ {{uname}} </h1>
    <form action="{% url 'general:ver_mascotas' id %}">{% csrf_token %}
      <button type="submit" >Ver mascotas</button>
    </form>
    <form action="{% url 'general:creando_mascota' id %}">{% csrf_token %}
      <button type="submit" >Agregar mascota</button>
    </form>
    <form action="{% url 'general:agregar_cita' id%}">{% csrf_token %}
      <button type="submit" >Agregar cita</button>
    </form>
    <h2>proximas citas</h2>

    {% endif %}
  </body>
</html>