<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Info Pets</title>
  </head>
  <body>
    {% if  uname == 'no' %}
      <h1>usted no esta registrado en la pagina</h1>
      <a href="{% url 'general:inicio' %}">volver a la pagina de inicio</a>
    {% endif %}

    {% if  uname != 'no' %}
      <h1>BIENVENID@ {{uname}}</h1>
    <form action="{% url 'general:ver_mascotas' %}">{% csrf_token %}
      <button type="submit" >ver mis mascotas</button>
    </form>
    <form action="{% url 'general:creando_mascota' uname %}" method="post">{% csrf_token %}
      <button type="submit" >agregar mascota</button>
    </form>
    {% endif %}
  </body>
</html>