<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INICIAR SESIÓN</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosg.css' %}">
  </head>
  <body>
  <header><div id="izquierda"><h1>INFO PETS</h1></div>
      <div id="derecha">
        <a href="">Contacto</a>
        <a href="">Conocenos</a>
        <a href="">Iniciar sesión</a>
      </div>
  </header>
  <div id="general">
  <div id="inicioSesion">
      <h1 id="tituloInicioSesion">Inicio de sesión</h1>
    <form action="{% url 'general:redirect_pag_principal' %}" method="post" id="formInicioSesion">{% csrf_token %}
        <label ><b>Usuario</b></label>
        <input type="text"  name="uname" required>
        <label ><b>Contraseña</b></label>
        <input type="password" name="psw" required>
        <button id="inicioSesionButton" type="submit"><span>INICIAR SESION</span></button>
    </form>
   </div>
   <div id = "registrarse">
       <h1 id="tituloRegistrarse">REGISTRATE</h1>
       <form action="{% url 'general:redirect_pag_principal' %}" method="post" id="formRegistro">{% csrf_token %}
      <p>Registra tu veterinaria</p>
        <div id="division">
          <div id="der">
              <label ><b>Centro veterinario</b></label>
              <input type="text"  name="uname" required>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="example@email.com" name="email" id="email" required>
              <label ><b>Celular</b></label>
              <input type="text"  name="uname" required>
          </div>
          <div id="izq">
              <label ><b>Nombre del encargado</b></label>
              <input type="text"  name="uname" required>
              <label ><b>Dirección</b></label>
              <input type="text"  name="uname" required>
          </div>
        </div>
          <button class="regisButton" type="submit">REGISTRATE AQUÍ</button>
      </form>
  </div>
</div>
  </body>
</html>