<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/results.css' %}">
    <script src="{% static 'java/registro.js' %}"></script>
    <title>Info Pets</title>
  </head>
  <body>
  <form action="{% url 'general:registro' %}" method="post">{% csrf_token %}
  <div class="container">
    <h1>REGISTRO</h1>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" id="email" required>

    <label for="Usuario"><b>Usuario</b></label>
    <input type="text" placeholder="Usuario" name="uname" id="usuario" required>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="contraseña" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repite tu contraseña</b></label>
    <input type="password" placeholder="" name="psw-repeat" id="psw-repeat" required>

    <label for="edad"><b>Edad</b></label>
    <input type="number"  min="18" max="100" name="edad" id="edad" required>

    <select id="dropdown" name="select">
      <option value="" disabled selected hidden>selecione su genero</option>
      <option value="masculino">masculino</option>
      <option value="femenino">femenino</option>
      <option value="binario">binario wtfff????</option>
    </select>
    <hr>
    <button type="submit" class="registerbtn">REGISTRAR</button>
  </div>
  </form>
  <div class="container signin">
    <p>¿Ya tienes cuenta? <a href="{% url 'general:inicio' %}">INICIAR SESION</a>.</p>
  </div>
  </body>
</html>